  input {
    text-overflow: ellipsis;
    border: 1px solid #5090D3;
    border-radius: 4px;
    padding: 8px;
    min-width: 300px;
    width: 100%;
    height: 30px;
    font-size: medium;
    background-color: whitesmoke;
    color: gray;
  }

  input::placeholder {
    opacity: 0.5;
  }

  input:hover {
    border: 1px solid #1b5ba0;
  }

  input:focus-visible {
    outline: #5090D3 1px;
  }

  input:focus
  {
    outline: 1px solid #5090D3;
  }

  .autocomplete-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 300px;
    width: 100%;
    color: rgb(231, 235, 240);
  }

  .autocomplete {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    border-radius: 4px;
    list-style: none;
    margin-top: 0;
    max-height: 156px;
    overflow-y: auto;
    padding: 0 8px 0 8px;
    width: 100%;
    top: 98px;
    font-size: large;
    background-color: #0A1929;
    overflow-x: hidden;
  }

  .no-autocomplete {
    color: #999;
  }

  .autocomplete li {
    margin: auto;
    padding: 8px;
    margin-left: -8px;
    width: inherit;
    text-align: center;
  }

  .autocomplete > .active {
    background-color: #6F7E8C;
    cursor: pointer;
  }

  .label {
    display: inline-flex;
    align-items: flex-start;
    width: 300px;
    font-size: medium;
    color: rgb(208, 40, 6);
    padding-top: 8px;
}